* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;

    background-image: url("https://images.unsplash.com/photo-1477132394330-d2376dc4c091?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
}

.home h1 {
    font-size: 60px;
    margin-bottom: 160px;
}

.home p {
    font-size: 24px;
    margin-bottom: 70px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #333;
    background: white;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Responsive สำหรับมือถือ */
@media (max-width: 768px) {
    .home {
        padding: 40px 20px;
    }

    .home h1 {
        font-size: 40px;
        margin-bottom: 80px;
    }

    .home p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .buttons {
        flex-direction: column;
        gap: 15px;
    }

    .buttons a {
        padding: 12px 35px;
        font-size: 18px;
    }
}