html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}

.box-left {
    background-color: rgb(248, 21, 21);
}

.box-right {
    background-color: rgb(175, 0, 175);
}